---
import Layout from "../layouts/Layout.astro";
import ProductGallery from "../components/product.gallery.astro";
---

<Layout>
  <main>
    <h1 class="text-2xl font-bold mb-6">Product List</h1>
    <ProductGallery title="This is a Gallery" />
  </main>
</Layout>

<script>
  //   const title = document.querySelector<HTMLHeadingElement>(".hello-world")!;
  //   fetch("http://localhost:5177/api/v1/Hello")
  //     .then((res) => res.text())
  //     .then((text) => (title.textContent = text));
</script>
