---
interface Props {
  product: {
    id: string;
    name: string;
    description: string;
    price: string;
    imageSrc: string;
  };
}

const { product } = Astro.props;
---

<article class="card bg-base-100 shadow-xl" data-id={product.id}>
  <figure>
    <img src={product.imageSrc} alt="something" />
  </figure>
  <div class="card-body">
    <h3 class="card-title">{product.name}</h3>
    <p>{product.description}</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Buy Now</button>
    </div>
  </div>
</article>
